#fsg
type fsg_file, fs_type, contextmount_type;

# grep
type grep_exec, exec_type, file_type;

# Touch script
type sysfs_mmi_touch, fs_type, sysfs_type;

type app_efs_file, file_type;
type imei_efs_file, file_type;
type rfs_debugfs_file, file_type;
type sensors_efs_file, file_type;
type snd_data_file, file_type, data_file_type;
type touchpanel_sysfs, fs_type, sysfs_type;
type bt_fw_file, file_type;
type wifi_efs_file, file_type;

# Persist file types
type persist_file, file_type;
type persist_bluetooth_file, file_type;
type persist_data_file, file_type;
type persist_drm_file, file_type;
type data_qsee_file, file_type;
type seemp_file, file_type;

type diag_data_file, file_type, data_file_type;

type sdcard_internal, sdcard_type, fs_type, mlstrustedobject;
type sdcard_external, sdcard_type, fs_type, mlstrustedobject;

#location file types
type location_data_file, file_type, data_file_type;
type location_socket, file_type;
type location_app_data_file, file_type, data_file_type;

#bluetooth firmware file types
type bt_firmware_file, fs_type, contextmount_type;


#Define the qmux socket type
type qmuxd_socket, file_type;

