#fsg
type fsg_file, fs_type, contextmount_type;

# grep
type grep_exec, exec_type, file_type;

# Touch script
type sysfs_mmi_touch, fs_type, sysfs_type;

type app_efs_file, file_type;
type imei_efs_file, file_type;
type rfs_debugfs_file, file_type;
type sensors_efs_file, file_type;
type snd_data_file, file_type, data_file_type;
type touchpanel_sysfs, fs_type, sysfs_type;
type debugfs_rmt, fs_type;
type bt_fw_file, file_type;
type wifi_efs_file, file_type;
type wifi_vendor_data_file, file_type, data_file_type;

# Persist file types
type persist_file, file_type;
type persist_bluetooth_file, file_type;
type persist_data_file, file_type;
type persist_drm_file, file_type;
type data_qsee_file, file_type;
type seemp_file, file_type;

type diag_data_file, file_type, data_file_type;

# for adsp to load /sys/kernel/boot_adsp/boot
type sysfs_boot_adsp, sysfs_type, fs_type;

type sdcard_internal, sdcard_type, fs_type, mlstrustedobject;
type sdcard_external, sdcard_type, fs_type, mlstrustedobject;

#location file types
type location_data_file, file_type, data_file_type;
type location_socket, file_type;
type location_app_data_file, file_type, data_file_type;

#bluetooth firmware file types
type bt_firmware_file, fs_type, contextmount_type;

# Default type for anything under /firmware.
type firmware_file, fs_type, contextmount_type;

# /data/vendor/tombstones/ file
type vendor_tombstone_data_file, file_type, data_file_type;

#Define the qmux socket type
type qmuxd_socket, file_type;

# Sensor file types
type sensors_socket, file_type;
type sensors_persist_file, file_type;
type sysfs_sensors, sysfs_type, fs_type;

#audio sysfs files
type sysfs_audio, fs_type, sysfs_type;

#type for thermal-engine
type thermal_socket, file_type;
#type for uart
type sysfs_msmuart_file, sysfs_type, fs_type;

#SurfaceFlinger file type for sysfs access
type sysfs_graphics, sysfs_type, fs_type;
# USB/battery power supply type for hvdcp/quickcharge
type sysfs_usb_supply, sysfs_type, fs_type;
type sysfs_battery_supply, sysfs_type, fs_type;
type sysfs_usbpd_device, sysfs_type, fs_type;
# sysfs vadc device for hvdcp/quickcharge
type sysfs_vadc_dev, sysfs_type, fs_type;
# sysfs spmi device for hvdcp/quickcharge
type sysfs_spmi_dev, sysfs_type, fs_type;
# sysfs poweron_alarm is used in init.target.rc
type sysfs_poweron_alarm, sysfs_type, fs_type;
#Define the files written during the operation of mpdecision
type sysfs_mpdecision, fs_type, sysfs_type;
type sysfs_rqstats, fs_type, sysfs_type;
type sysfs_cpu_online, fs_type, sysfs_type;
type mpctl_socket, file_type, mlstrustedobject;
type mpctl_data_file, file_type, data_file_type;
#Define the files used by lm
type lm_data_file, file_type, data_file_type;
type sysfs_devfreq, fs_type, sysfs_type;
type sysfs_mmc_host, fs_type, sysfs_type;
type sysfs_scsi_host, fs_type, sysfs_type;
type sysfs_cpu_boost, fs_type, sysfs_type;
type sysfs_msm_perf, fs_type, sysfs_type;
type sysfs_memory, fs_type, sysfs_type;
type sysfs_lib, fs_type, sysfs_type;
type sysfs_slpi, fs_type, sysfs_type;
type sysfs_process_reclaim, fs_type, sysfs_type;
