

type netmgrd, domain;
type netmgrd_exec, exec_type, file_type;
net_domain(netmgrd)
init_daemon_domain(netmgrd)

userdebug_or_eng(`
  domain_auto_trans(shell, netmgrd_exec, netmgrd)
')

#Allow files to be written during the operation of netmgrd
file_type_auto_trans(netmgrd, system_data_file, data_test_data_file)

#Allow netmgrd operations
allow netmgrd netmgrd:capability {
    dac_override
    net_raw
    net_admin
    sys_module
    fsetid
    setgid
    setuid
    setpcap
};

allow netmgrd sysfs_net:dir search;
