# Policy for sensor daemon
type sensors, domain;
type sensors_exec, exec_type, file_type;

# Started by init
init_daemon_domain(sensors)

type_transition sensors system_data_file:{ dir file } sensors_data_file;

allow sensors self:capability {
    # Change own perms to (nobody,nobody)
    setuid
    setgid
    # Chown /data/misc/sensors/debug/ to nobody
    chown
    # Access /data/misc/sensors/debug and /data/system/sensors/settings
    dac_override
    dac_read_search
    net_bind_service
};

dontaudit sensors self:capability { fsetid net_raw };
